Question 1. Are there customers that share the same address?. If yes, display the customer names.

In [ ]:
SELECT CONCAT(c1.first_name, ' ', c1.last_name) AS customer_name, 
       c1.address_id AS Address
FROM customer c1
JOIN customer c2
ON c1.customer_id != c2.customer_id
AND c1.address_id = c2.address_id

Question 2. What is the name of the customer who made the highest total payments?

In [ ]:
SELECT CONCAT(c.first_name, ' ', c.last_name) AS customer_name, 
       SUM(p.amount) AS Payment,
       c.customer_id AS Customer_id
FROM customer c
JOIN payment p
USING (customer_id)
GROUP BY c.customer_id, c.first_name, c.last_name 
ORDER BY SUM(p.amount) DESC
LIMIT 1

Question 3. What movie(s) was rented the most?

In [ ]:
SELECT f.title AS movie_title, f.rental_duration
FROM film f
WHERE f.rental_duration = 7
ORDER BY f.rental_duration DESC

Question 4. Which movies have been rented so far?

In [ ]:
SELECT r.rental_id, i.film_id
FROM rental r
JOIN inventory i
USING (inventory_id)
GROUP BY r.rental_id, i.film_id

Question 5. Which movies have not been rented so far?

In [ ]:
SELECT r.rental_id, i.film_id
FROM rental r
JOIN inventory i
USING (inventory_id)
GROUP BY r.rental_id, i.film_id
HAVING r.rental_id IS NULL

//Question 6. Which customers have not rented any movies so far?//

In [ ]:
SELECT COUNT(f.title) AS title_number, 
       r.customer_id, 
       f.title AS movie_title
FROM film f
JOIN inventory i
ON i.film_id = f.film_id
JOIN rental r
ON r.inventory_id = i.inventory_id
GROUP BY f.title, r.customer_id
HAVING COUNT(f.title) IS NULL

Question 7. Display each movie and the number of times it got rented.

In [ ]:
SELECT f.title AS movie_title, 
       COUNT(r.rental_id)
FROM film F
JOIN inventory i
ON f.film_id = i.film_id
JOIN rental r
ON r.inventory_id = i.inventory_id
GROUP BY f.title

Question 8. Show the first name and last name and the number of films each actor acted in.

In [ ]:
SELECT CONCAT(a.first_name, ' ', a.last_name) AS Actor_name, 
       COUNT(d.film_id) AS No_of_films_acted
FROM actor a
JOIN film_actor d
ON d.actor_id = a.actor_id
JOIN film f
ON f.film_id = d.film_id
GROUP BY Actor_name

Question 9. Display the names of all the actors that acted in more than 20 movies.

In [ ]:
SELECT CONCAT(a.first_name, ' ', a.last_name) AS Actor_name, 
       COUNT(d.film_id) AS No_of_films_acted
FROM actor a
JOIN film_actor d
ON d.actor_id = a.actor_id
JOIN film f
ON f.film_id = d.film_id
WHERE d.film_id > 20
GROUP BY Actor_name

Question 10. For all movies rated "PG", how many times did it get rented?

In [ ]:
SELECT f.title AS movie_title, 
       COUNT(r.rental_id) AS No_of_times_rented, 
       f.rating AS Ratings
FROM film F
JOIN inventory i
ON f.film_id = i.film_id
JOIN rental r
ON r.inventory_id = i.inventory_id
WHERE f.rating = 'PG'
GROUP BY f.title, f.rating

Question 11. What movies are offered for rent in any store_id 1 and not offered in store_id 2?

In [ ]:
SELECT f.title AS movie_title, 
       COUNT(r.rental_id) AS No_of_times_rented, 
       s.store_id AS Store_id
FROM film F
JOIN inventory i
ON f.film_id = i.film_id
JOIN rental r
ON r.inventory_id = i.inventory_id
JOIN store s
ON i.store_id = s.store_id
WHERE s.store_id = 1

Question 12. What movies are offered for rent in any of the two stores 1 and 2?

In [ ]:
SELECT f.title AS movie_title, 
       COUNT(r.rental_id) AS No_of_times_rented, 
       s.store_id AS Store_id
FROM film F
JOIN inventory i
ON f.film_id = i.film_id
JOIN rental r
ON r.inventory_id = i.inventory_id
JOIN store s
ON i.store_id = s.store_id

In [ ]:
Question 13. What movies are offered in both stores at the same time?

In [ ]:
SELECT title, 
       film_id
FROM film
WHERE film_id in (SELECT film_id
	              FROM inventory i
	              WHERE store_id = 1) 
AND film_id in (SELECT film_id
	              FROM inventory i
	              WHERE store_id = 2)

Question 14. Display the movie title for the most rented movie in the store with store_id 1.

In [ ]:
SELECT f.title AS movie_title, f.rental_duration
FROM film f
GROUP BY f.rental_duration, f.title, film_id
HAVING film_id IN (SELECT f.film_id
	            FROM inventory i
	            WHERE i.store_id = 1)
ORDER BY f.rental_duration DESC

Question 15. How many movies are not offered for rent in the stores yet?

In [ ]:
SELECT f.title AS movie_title,
       COUNT(r.rental_id) AS No_of_times_rented,
       s.store_id AS Store_id
FROM film F
JOIN inventory i
ON f.film_id = i.film_id
JOIN rental r
ON r.inventory_id = i.inventory_id
JOIN store s
ON i.store_id = s.store_id
WHERE r.rental_id IS NULL

Question 16. How many rented movies are under each rating?

In [ ]:
SELECT f.rating AS Ratings,
       COUNT(r.rental_id) AS No_of_times_rented
FROM film F
JOIN inventory i
ON f.film_id = i.film_id
JOIN rental r
ON r.inventory_id = i.inventory_id
GROUP BY f.rating

Question 17. How much profit have each of the stores 1 and 2 gained?

In [ ]:
SELECT SUM(p.amount) AS Profits,
       s.store_id AS Store_id
FROM payment P
JOIN staff t
ON p.staff_id = t.staff_id
JOIN store s
ON s.store_id = t.store_id
GROUP BY s.store_id